<?xml version='1.0' encoding='utf-8'?>
<widget id="com.appsflyer.cordovatry" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>cordovaTestApp</name>
    <description>Sample Apache Cordova App</description>
    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <test-framework src="/plugins/cordova-plugin-appsflyer-sdk-tests/tests.js" type="jasmine" />
    <!--    <content src="cdvtests/index.html" />-->
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <feature name="TestFramework">
        <param name="ios-package" value="TestFramework" onload="true" />
        <param name="android-package" value="org.apache.cordova.testframework.TestFramework" />
    </feature>
    <platform name="ios">
        <edit-config target="NSUserTrackingUsageDescription" file="*-Info.plist" mode="merge">
            <string>My tracking usage description</string>
        </edit-config>
    </platform>
</widget>
